.slide-container {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 300px;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .slide img {
    display: block;
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
  